html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Arial, Ubuntu, sasn-serif;
  font-size: 14px;
  font-weight: 400;
  color: #5c6369;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}
.container {
  width: 70%;
  height: 70%;
  min-height: 300px;
  box-shadow: 1px 1px 3px #333;
  margin-top: 50px;
  border-radius: 12px;
  min-width: 320px;
}

#header {
  border-bottom: 1px solid #ccc;
  min-height: 40px;
}
#footer {
  border-top: 1px solid #ccc;
  min-height: 40px;
}

#main h1 {
  font-family: 'Bilbo Swash Caps', cursive;
}
#tweetUrl > a {
  font-size: 20px;
}
#fbUrl a {
  color: #45619d !important;
}
